---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="你好" description="关于我" pubDate={new Date('Nov 04 2024')}>
	<p>
		<ul>
			<li>你可以叫我周末</li>
			<li>净是坏心眼，算半个好人</li>
			<li>喜欢并<del>正在攻克</del>数独技巧</li>
			<li>扫雷玩家</li>
			<li>书</li>
			<li>音乐</li>
			<li>播客</li>
			<li>看电影</li>
			<li>博客</li>
			<li>跑步</li>
			<li>思考（发呆）</li>
			<li>主机党</li>
			<li>晒太阳</li>
			<li>效率至上</li>
			<li>终生学习</li>
		</ul>
	</p>
</Layout>
