---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="dia" description="dia" pubDate={new Date('Nov 04 2024')}>
    <p>
        <h3>2025 年</h3>
        <ul>
            <!-- <li><br></li><br> -->
            <li>6 月 27 日 周五<br>最近在尝试精酿，没想到啤酒还能有这么丰富的味道，很喜欢。</li><br>
            <li>6 月 9 日 周一<br>成都真好玩：P</li><br>
            <li>5 月 15 日 周四<br>You and Black, you’re two of a kind.Sentimental children forever whining about how bitterly unfair your lives have been. Well, it may have escaped your notice, but life isn’t fair.<p style={{textAlign: 'right'}}>--Severus Snape (Harry Potter and the Order of the Phoenix)</p></li><br>
            <li>3 月 12 日 周三<br>小黄鸭是程序员会用的东西，在思路不清晰的时候对着橡皮鸭子一行一行解释代码，在解释的过程中就比较容易激发灵感，发现问题，理清楚思绪。</li><br>
            <li>3 月 1 日 周二<br>- No mind to think.<br>- No will to break.<br>- No voick to cry suffering.<br>- Born of God and Void.<br>- You shall seal the blinding light that plagues their dreams.<br>- You are the Vessel.<br>- You are the Hollow Knight.</li><br>
            <li>2 月 24 日 周一<br>正则表达式真的是用一次学一次啊orz</li><br>
            <li>2 月 6 日 周四<br>超链接是互联网的灵魂</li><br>
            <li>1 月 15 日 周三<br>脏话只是辅佐情绪，与教养无关</li><br>
        </ul>
        <h3>2024 年</h3>
        <ul>
            <li>12 月 2 日 周一<br>那些天天说卸游戏的人，谈恋爱的时候会不会也天天说分手？</li><br>
            <li>11 月 11 日 周一<br>就像给近视的人一副眼镜，你会看见所有的缺点，和弱点<br>懵懂的状态更让我舒适</li><br>
            <li>10 月 29 日 周二<br>编程技术极其重要，然而，在你学习这些新技术的时候，别忘了程序是和事物“相关”的。墨守成规的计算机程序员把所有的时间都花在编程上。实际上，这种闭门造车是一大缺陷。对其他事情（商务、艺术、医药、警务、体育、烹饪等任何事情）知道得越多，就能对它们建模得越好。</li><br>
            <li>10 月 21 日 周日<br>我很喜欢观察人类，但并没有把结果分享给当事人的必要，何况是个未来不太会有交集的人。</li><br>
            <li>10 月 6 日 周日<br>经常出去社交不累吗？<br>为什么会累啊？和朋友很开心，不需要那么敏感；不需要担心说错话。我一般把这称之为————叙旧。</li><br>
            <li>9 月 19 日 周四<br>唯恐暴露才华不足的卑怯的畏惧，和厌恶钻研刻苦的惰怠，就是我的全部了。</li><br>
            <li>9 月 12 日 周四<br>为什么总斗个你死我活呢？为什么不各行其是岁 月 静好呢？不行的，不被选择的苦楚旁人看不到，旁人只会觉得哭天抢地才是苦，不知道最苦其实不出声。</li><br>
            <li>9 月 9 日 周一<br>因为是同性，所以有很多用友情度过的爱情，因为是异性，有很多误以为是爱情的瞬间。</li><br>
            <li>9 月 5 日 周四<br>男人和女人，要么在所谓的做爱的行为中，快速的相互魇足，要么在婚约中二人长厢厮守。这两种极端之间，往往找不到折中。<p style={{textAlign: 'right'}}>--鼠疫</p></li><br>
            <li>8 月 27 日 周二<br>工业革命有一个很少人提到的后果，就是人类可以大量生产糖了。</li><br>
            <li>8 月 15 日 周四<br>Mysql 切换用户居然只能退出再重新登录，以前没注意到过，有点麻烦的👿</li><br>
            <li>8 月 6 日 周二<br>心理分析不做道德评价。</li><br>
            <li>7 月 29 日 周一<br>景观都是人文赋予的意义，景观唯一能自己给自己带来的意义，可能就是珠穆朗玛峰——他是世界第一高峰。因为美是人发现的，审美的主体不把情绪转移到审美的客体上，也就无法产生奇妙的化学反应。<a href="https://space.bilibili.com/173469252" target="_blank"><p style={{textAlign: 'right'}}>--zhan|</p></a></li>
            <li>7 月 22 日 周一<br>程序员有巴甫洛夫反应：向他们提出一个问题，他们就会开始尝试解决它。<a href="https://www.ruanyifeng.com/blog/2024/07/weekly-issue-309.html" target="_blank"><p style={{textAlign: 'right'}}>--科技爱好者周刊（第 308 期）</p></a></li><br>
        </ul>
	</p>
</Layout>
